<app-create-project-overlay
  [project]="project"
  *ngIf="showOverlay"
  (updateOverlay)="toggleOverlay()"
></app-create-project-overlay>
<div class="project-card-container">
  <div class="card-info">
    <div class="card-header">
      <div id="title">
        <p id="name">{{ project.name }}</p>
        <div class="last-edited" *ngIf="daysAgo > 0">
          Last edited {{ daysAgo }} days ago
        </div>
        <div class="last-edited" *ngIf="hoursAgo < 24 && hoursAgo > 0">
          Last edited {{ hoursAgo }} hours ago
        </div>
        <div class="last-edited" *ngIf="minutesAgo < 60 && minutesAgo > 0">
          Last edited {{ minutesAgo }} minutes ago
        </div>
        <div class="last-edited" *ngIf="minutesAgo < 1">Last edited now</div>
      </div>
      <div class="bottom-section">
        <div id="content">
          {{ project.description }}
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="btn" (click)="toggleOverlay()">Edit</button>
  </div>
</div>
