input[type="text"] {
  background: none;
  font-weight: 600;
  color: var(--beige);
  border: none;
  border-bottom: 1px solid var(--beige);
}

input[type="text"]:focus {
  outline: none;
}

button {
  background-color: var(--blue-text);
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s
}

button:enabled:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: rgb(63, 63, 63);
  color: rgb(143, 143, 143);
  cursor: default;
}

.add-admin-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
  background-color: rgba(18, 18, 18, 0.6);
  z-index: 10000140;
  cursor: default;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.add-admin-container {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  z-index: 1000000141;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--beige);
  background-color: #0b2d45;
  border-radius: 10px;
  cursor: default;
}

.add-admin-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-container * {
  margin: 0px 5px;
}

.exit-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.exit-icon {
  width: 30px;
}
