<app-navmenu> </app-navmenu>
<app-create-announcement-overlay
  *ngIf="showOverlay"
  (updateOverlay)="toggleOverlay()"
></app-create-announcement-overlay>

<div class="container">
  <div class="title">
    <h1>Announcements</h1>
    <button *ngIf="isAdmin" class="btn" (click)="toggleOverlay()">New</button>
  </div>
  <div *ngFor="let announcement of announcements">
    <app-announcement-card
      [name]="announcement.name"
      [date]="announcement.date"
      [title]="announcement.title"
      [content]="announcement.content"
    ></app-announcement-card>
  </div>
</div>
