#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.projects {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--beige);
  color: rgba(255, 255, 255, 0.69);
  width: 70%;
}

.new-btn {
  margin: 15px 30px;
  padding: 5px 30px;
  border-radius: 10px;
  outline: none;
  background-color: var(--blue-text);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px black;
  transition: all 0.2s;
}

.new-btn:hover {
  opacity: 0.8;
}

.projects-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
