<app-create-project-overlay
  *ngIf="showOverlay"
  (updateOverlay)="toggleOverlay()"
  [teamId]="teamId"
></app-create-project-overlay>
<button (click)="toggleOverlay()">Click Create Proj test</button>


<div id="projects-container">
    <h1 class="title"*ngIf="projects.length > 0">{{ teamName }}'s Projects</h1>
    <h1 class="title" *ngIf="projects.length === 0">{{ teamName }} has no active projects</h1>

    <div class="projects" *ngFor="let project of projects">
      <app-project-card [project]="project"></app-project-card>
    </div>
</div>
