.container {
  /* height: 98vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div h1 {
  margin-bottom: 0;
  font-weight: 400;
}

.title-div p {
  margin-top: 10px;
  margin-bottom: 50px;
}

.table1 {
  border: 1px solid var(--beige);
  color: var(--beige);
  padding: 30px;
  width: 800px;
  text-align: center;
}

th {
  color: white;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(222, 185, 146, 0.5);
}

td {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid rgba(222, 185, 146, 0.5);
}

.red {
  color: rgba(255, 0, 0, 0.8);
}

.green {
  color: green;
}

.btn {
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s
}

.btn:hover {
  opacity: 0.8;
}

.btn-container-div {
  padding-top: 20px;
}

.add-admin-btn {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #0b2d45;
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

.create-user-btn {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: var(--blue-text);
  color: white;
  padding: 10px 20px;
  margin: 5px;
}
