.container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table1 {
  border: 1px solid black;
  padding: 30px;
  width: 800px;
}

.red {
  color: red;
}

.green {
  color: green;
}
