input[type="text"] {
  background: none;
  font-weight: 600;
  color: var(--beige);
  border: none;
  border-bottom: 1px solid var(--beige);
}

input[type="text"]:focus {
  outline: none;
}

input[type="password"] {
  background: none;
  font-weight: 600;
  color: var(--beige);
  border: none;
  border-bottom: 1px solid var(--beige);
}

input[type="password"]:focus {
  outline: none;
}

button {
  background-color: var(--blue-text);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.284);
  transition: all 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: rgb(99, 102, 104);
  color: rgb(165, 162, 162);
  cursor: default;
}

button:disabled:hover {
  opacity: 1;
}

.add-user-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
  background-color: rgba(18, 18, 18, 0.6);
  z-index: 10000140;
  cursor: default;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.add-user-container {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  z-index: 1000000141;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--beige);
  background-color: var(--darker-blue);
  border-radius: 10px;
  cursor: default;
}

.add-user-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container * {
  margin: 0px 5px;
}

.pass-container * {
  margin: 0px 5px;
}

.checkbox-container * {
  margin: 0px 5px;
}

.email-phone-container * {
  margin: 0px 5px;
}

.exit-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.exit-icon {
  width: 30px;
}
