<div class="add-user-overlay" [ngClass]="{ hide: !isOpen }">
  <div class="add-user-container">
    <div class="exit-button" (click)="isOpen = !isOpen">[ X ]</div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" [(ngModel)]="title" />
    <label for="message">Message</label>
    <input type="text" id="message" name="message" [(ngModel)]="message" />
    <button
      [disabled]="title == '' || message == '' || submit"
      class="submit-button"
      value="Login"
      (click)="post()"
    >
      Submit
    </button>
    <p *ngIf="success">Success!</p>
    <p *ngIf="fail">Oops, something went wrong</p>
  </div>
</div>
