input {
  background: none;
  font-weight: 600;
  color: var(--beige);
  border: none;
  border-bottom: 1px solid var(--beige);
}

input:focus {
  outline: none;
}

.submit-button {
  cursor: pointer;
  background-color: var(--blue-text);
  padding: 10px 60px;
  border-radius: 10px;
  border: none;
  color: white;
}

.add-user-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
  background-color: rgba(18, 18, 18, 0.6);
  z-index: 1;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.add-user-container {
  position: initial;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--beige);
  background-color: #0b2d45;
  border: 1px solid var(--blue-text);
  border-radius: 10px;
}

.add-user-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exit-button {
  position: relative;
  left: 20px;
  top: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}
