.teams-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

.teams-container {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    gap: 20px;
    justify-content: space-between;
    width: 80%;
}