<app-navmenu> </app-navmenu>


<div class="teams-page-container">
  <div class="teams-container">
    <app-team-card *ngFor="let team of teams" [team]="team"></app-team-card>
    <div class="new-team-container" (click)="toggleOverlay()">
        <div class="plus">
            +
        </div>
        <div class="new-team-label">
            New Team
        </div>
    </div>
</div>
</div>
<app-create-team-overlay
  (updateOverlay)="toggleOverlay()"
  *ngIf="showOverlay"
></app-create-team-overlay>
