:root {
  --background: rgba(5, 22, 34, 255);
  --blue-text: rgba(27, 160, 152, 1);
  --beige: rgba(222, 185, 146, 255);
}

@font-face {
  font-family: Mulish;
  src: url(./assets/fonts/Mulish-Regular.ttf) format("truetype");
}

* {
  font-family: Mulish;
}

html {
  background-color: var(--background);
  color: var(--blue-text);
}
