.navbar {
  background-color: var(--background);
  list-style: none;
  height: 60px;
  width: 98vw;
  border-bottom: 1px solid var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: relative;
  position: sticky;
  top: 0;
}

.opaque {
  opacity: 0.8;
}

.logo {
  width: 50px;
  position: absolute;
  left: 10px;
  top: 8px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 20px;
}

.dropdown-menu {
  position: relative;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  width: 200px;
  right: 5px;
  top: 50px;
  background-color: var(--dark-blue);
  border: none;
  outline: none;
  z-index: 1;
}

a {
  color: var(--blue-text);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid var(--blue-text);
  padding: 10px;
  text-align: center;
  transition: all 0.2s;
}

.dropdown-menu li:hover {
  opacity: 0.7;
  color: var(--dark-blue);
}
.dropbtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  background-color: var(--darker-blue);
  transition: all 0.2s;
}

.dropbtn:hover {
  opacity: 0.8;
}

.line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  background-color: white;
  color: white;
}

button {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

#adtext {
  color: red;
  position: absolute;
  left: 90px;
  top: 15px;
}

#company-name {
  height: 75%;
  color: var(--blue-text);
  font-size: 1.5rem;
  cursor: pointer;
}
