

.navbar {
  border-bottom: 1px solid #777777;
 
  list-style: none;
  padding: 0;
  width: 98vw;
  border-bottom: 1px solid var(--beige);
  display: flex;
  justify-content: flex-end;
  float: right;
  vertical-align: middle;

  
}

.dropdown {
  position: relative;
  
  
}

.dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  
  margin-top: 0;
  left: 0;
  color: white;
  background-color: darkblue;
  border: 1px solid #777777; 
  z-index: 1;
}

.dropdown-menu li {
  cursor: pointer;
  
  padding: 8px 12px;
}

.dropbtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  background-color: white;
  color: white;
}


.dropdown:hover .dropdown-menu {
  display: block;
  padding: 10px 20px;
  
}

button {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}


#adtext{
  justify-content: start;
  color:red
}