<nav class="navbar" [ngClass]="{ opaque: scrolled }">
  <div>
    <img
      (click)="goHome()"
      class="logo"
      src="../../../assets/images/icon.png"
      alt="company logo"
    />
  </div>
  <div id="adtext">
    {{ isAdmin ? "ADMIN:" : "" }} {{ profile.firstName }} {{ profile.lastName }}
  </div>
  <h1 id="company-name" routerLink="">
    {{ companyName }}
  </h1>
  <div class="dropdown">
    <button class="dropbtn" (click)="toggleMenu = !toggleMenu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <ul class="dropdown-menu" *ngIf="toggleMenu">
      <li><a routerLink="/">Home</a></li>
      <li *ngIf="!isAdmin"><a routerLink="/projects">Projects</a></li>
      <li *ngIf="isAdmin"><a routerLink="/teams">Teams</a></li>
      <li *ngIf="isAdmin"><a routerLink="/user-registry">Users</a></li>
      <li id="logout">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
