nav {
  border-bottom: 1px solid #777777;
} 

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; 
  border: 1px solid #777777; 
  z-index: 1;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 10px;
}

.dropbtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  background-color: white;
  color: white;
}


.dropdown:hover .dropdown-menu {
  display: block;
  transform: translateY(100%);
}
