.navbar {
  border-bottom: 1px solid #777777;
  background-color: rgba(5, 22, 34, 1);
  list-style: none;
  height: 60px;
  border-bottom: 1px solid var(--beige);
  padding: 0;
  width: 98vw;
  border-bottom: 1px solid var(--beige);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  position: relative;
}

.logo {
  width: 50px;
  position: absolute;
  left: 10px;
  top: 2px;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 20px;
}

.dropdown-menu {
  position: relative;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  width: 200px;
  right: 5px;
  top: 50px;
  background-color: var(--dark-blue);
  border: none;
  outline: none;
  z-index: 1;
}

a {
  color: var(--blue-text);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu li {
  border-bottom: 1px solid var(--blue-text);
  padding: 10px;
  text-align: center;
}

.dropbtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  background-color: var(--darker-blue);
}

.line {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  background-color: white;
  color: white;
}

button {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

#adtext {
  color: red;
  position: absolute;
  left: 90px;
  top: 15px;
}
