.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 20px 0px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  color: white;
  background-color: var(--darker-blue);
  box-shadow: 0px 0px 6px black;
  transition: 0.3s;
}

.card:hover {
  scale: 1.005;
  opacity: 0.95;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title {
  width: 100%;
}

.card-title h3 {
  font-weight: 500;
}

.content-container {
  width: 100%;
}
