.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 20px 0px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  color: white;
  background-color: rgba(11, 45, 69, 1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title {
  width: 100%;
}

.card-title h3 {
  font-weight: 500;
}

.content-container {
  width: 100%;
}