.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 28rem;
}

.card {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  color: white;
  background-color: rgba(11, 45, 69, 1);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
